.jumbotron {
    padding-top: 5.75rem;
    margin-bottom: 0;
    border-radius: 0;
}

.jumbotron p {
    margin-bottom: 0;
}

.jumbotron h1,
.jumbotron p {
    text-shadow: 1px 1px 10px #000;
}

@media (min-width: 576px) {
    .jumbotron {
        padding-top: 7.75rem;
    }
}
